.Rproj.user
.Rhistory
.RData
.Ruserdata
.dropbox
desktop.ini
Data
Results
" (Callum Macgregor's conflicted copy 2016-07-23).RData"
" (Callum Macgregor's conflicted copy 2016-07-23).Rhistory"
" (Callum Macgregor's conflicted copy 2016-07-23).gitignore"
"CheckResidsFunction (Callum Macgregor's conflicted copy 2016-07-23).R"
